@import "tailwindcss";
body {
  background-color: black;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll-once {
  animation: scroll-x 3s linear forwards;
}

